<h1> Add an Exhibition </h1>

<form method="POST" action="/exhibition/add">
  <div>
    <label>Exhibition Name</label>
    <input type="text" name="exhibition_name" class="form-control"/>
  </div>

  <div>
    <label>Exhibition Description</label>
    <textarea name="exhibition_description" class="form-control"></textarea>
  </div>

  <div>
    <label>Exhibition Image</label>
    <input class="form-control" onchange="validateSize(this)" type="file" name="item_img" id="item_img" accept=".png, .jpg, .jpeg, .gif">
  </div>

  <!-- <div>
    <label>Exhibition Rate</label>
    <input name="exhibition_rate" class="form-control"  type="file">
  </div> -->
  <div>
    <label>Exhibition Location</label>
    <input type="text" name="exhibition_location" className="form-control" id="exhibition-location-input"/>
  </div>

  <div>
    <label>Exhibition Phone Number</label>
    <input type="number" name="exhibition_phoneNumber" class="form-control"/>
  </div>
  <div>
    <label>Exhibition Email Address</label>
    <input type="email" name="exhibition_emailAddress" class="form-control"/>
  </div>
</div>

<br>/>
  </div>

  <div>
    <label>TotalWords</label>
    <input type="number" name="totalWords" class="form-control"/>
  </div>

  <div>
    <!-- <label>User</label>
    <select name="user[]" class="form-control" multiple="multiple">
      <% users.forEach(function(user){ %>
        <option value="<%= user._id %>"><%= user.name %></option>
      <% }) %>
    </select> -->
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Create Exhibition</button>
</form>